[submodule "vim/bundle/tpope-vim-ragtag"]
	path = vim/bundle/tpope-vim-ragtag
	url = http://github.com/tpope/vim-ragtag.git
[submodule "vim/bundle/tpope-vim-surround"]
	path = vim/bundle/tpope-vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule "vim/bundle/msanders-snipmate-vim"]
	path = vim/bundle/msanders-snipmate-vim
	url = http://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/chef-vim"]
	path = vim/bundle/chef-vim
	url = https://github.com/vim-scripts/chef.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/vim-scripts/SuperTab-continued..git
