[submodule "vim/bundle/tpope-vim-ragtag"]
	path = vim/bundle/tpope-vim-ragtag
	url = http://github.com/tpope/vim-ragtag.git
[submodule "vim/bundle/tpope-vim-surround"]
	path = vim/bundle/tpope-vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule "vim/bundle/msanders-snipmate-vim"]
	path = vim/bundle/msanders-snipmate-vim
	url = http://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/chef-vim"]
	path = vim/bundle/chef-vim
	url = https://github.com/vim-scripts/chef.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "/Users/fede/.dotfiles/vim/bundle/vim-fugitive"]
	path = /Users/fede/.dotfiles/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "/Users/fede/.dotfiles/vim/bundle/ctrlp"]
	path = /Users/fede/.dotfiles/vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "/Users/fede/.dotfiles/vim/bundle/vim-easymotion"]
	path = /Users/fede/.dotfiles/vim/bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "/Users/fede/.dotfiles/vim/bundle/gitv"]
	path = /Users/fede/.dotfiles/vim/bundle/gitv
	url = https://github.com/gregsexton/gitv.git
